<section>
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Recompensas</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-column">
      <label for="description" class="fw-bolder description-label info-spacing">Descrição</label>
      <textarea name="description" class="event-input" placeholder="escreva aqui..."></textarea>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-4 d-flex flex-column">
      <h3 class="fw-bolder info-spacing text-center">Quantidade Máxima</h3>
      <input type="number" placeholder="0"
             class="form-control event-input d-flex justify-content-center text-spacing fw-bolder text-center">
    </div>
    <div class="col-md-4 d-flex flex-column">
      <h3 class="fw-bolder info-spacing text-center">Conquistas necessárias</h3>
      <input type="number" placeholder="0"
             class="form-control event-input justify-content-center text-spacing fw-bolder text-center">
    </div>
  </div>
</section>
