<nav class="navbar navbar-expand-lg position-relative">
  <div class="container-fluid fw-bolder">
    <div class="d-flex align-items-center logo-nav">
      <a class="navbar-brand" routerLink="/">
      <img src="logo.png" class="logo" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="botao_legal_nav.png" alt=""> </span>
      </button>
      <ul class="navbar-nav">
        <li *ngFor="let item of navigateItems | keyvalue: originalOrder"
            [routerLink]="[item.value]" routerLinkActive="active">
          <a class="fw-bolder nav-link">{{ item.key }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="linear-background-container d-flex justify-content-end position-absolute end-0 h-100">
    <img src="background-2.png" class="background-2" alt="">
    <img src="background-1.png" alt="">
  </div>
  <button>
    <a ></a>
  </button>
</nav>
