<nav class="navbar navbar-expand-lg position-relative">
  <div class="container-fluid fw-bolder">
    <div class="d-flex align-items-center logo-nav">
      <a class="navbar-brand" routerLink="/">
        <img src="logo.png" class="logo" alt="">
      </a>
      <ul class="navbar-nav">
        <li *ngFor="let item of navigateItems | keyvalue: originalOrder"
            [routerLink]="[item.value]" routerLinkActive="active" role="button" class="position-relative h-100">
          <a class="fw-bolder text-decoration-none">{{ item.key }}</a>
          <div class="d-flex underline-container justify-content-between align-items-center position-absolute w-100">
            <div class="diamond"></div>
            <div class="line"></div>
            <div class="diamond"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="linear-background-container d-flex justify-content-end position-absolute end-0 h-100">
    <img src="background-2.png" class="background-2" alt="">
    <img src="background-1.png" alt="">
  </div>
  <button class="z-3 enter-btn d-flex align-items-center">
    <a href="" class="text-decoration-none fw-bold">Entrar</a>
  </button>
</nav>
