.navbar {
  background: var(--background-color);
  box-shadow: 0 8px 22.6px 0 rgba(0, 0, 0, 0.25);
  height: 8vh;
}

.logo {
  width: 3.325rem;
  margin-left: 2.813rem;
}

.navbar a {
  font-size: calc(1.2rem + 0.3vw) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-nav, .logo-nav {
  gap: 40px;
}

.navbar-nav ng-container {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
}

.navbar-nav .diamond {
  background-color: #000;
}

.navbar-nav .line {
  background-color: #000;
}

.navbar-nav li.active .diamond {
  width: 15px;
  height: 10px;
  border-radius: 50%;
}

.navbar-nav li.active .line {
  width: 100%;
  height: 2px;
}

.underline-container {
  bottom: -2.8vh;
}

.navbar a {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.linear-background-container {
  width: 50%;
}

.linear-background-container .background-2{
  margin-right: clamp(-9%, -10%, -7%);
}

.enter-btn {
  margin-right: 67px;
  border-radius: 46px;
  background: #FFF;
  font-weight: 700;
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: calc(1.2rem + 0.3vw) !important;
  letter-spacing: 4.16px;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}

@media (max-width: 990px) {
  .navbar-nav {
    display: none;
  }
}
