.navbar {
  background: var(--background-color);
  box-shadow: 0 8px 22.6px 0 rgba(0, 0, 0, 0.25);
  height: 10.13%;
}

.logo {
  width: 3.325rem;
  margin-left: 2.813rem;
}

.navbar .navbar-brand {
  font-size: 2rem ;
}

.navbar-toggler {
  border: none;
}

.navbar-nav, .logo-nav {
  gap: 40px;
}

.navbar-nav ng-container {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
}

.navbar-nav .diamond {
  transform: rotate(45deg);
  background-color: #000;
}

.navbar-nav .line {
  background-color: #000;
}

.navbar-nav li.active .diamond {
  width: 10px;
  height: 10px;
}

.navbar-nav li.active .line {
  width: 100%;
  height: 2px;
}

.underline-container {
  bottom: -20px;
}

.navbar a {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.linear-background-container {
  width: 50%;
}

.linear-background-container .background-2{
    margin-right: -70px;
}

.enter-btn {
  margin-right: 67px;
  border-radius: 46px;
  background: #FFF;
  border: none;
  padding: 0 10px 0 10px;
}

.enter-btn a {
  letter-spacing: 2.16px;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}

@media (max-width: 990px) {
  .navbar-nav {
    display: none;
  }
}
