<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="row w-100 justify-content-center event-navigation-menu">
  <div class="contain d-flex justify-content-between align-items-start">
    <button type="button" class="btn d-flex align-items-center">
      <a class="change-color">Voltar</a>
    </button>
    <app-side-bar></app-side-bar>
    <button type="button" class="btn d-flex align-items-center">
      <a class="change-color">Próximo</a>
    </button>
  </div>
</div>
