<div class="d-flex">
  <div class="sidebar">
    <ul class="list-unstyled d-flex flex-column fw-bolder" id="add-event">
      <li routerLink="/event" class="btn">
        <a class="fw-bolder">Evento</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
      <li class="btn">
        <a href="#">Selo</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
      <li class="btn">
        <a href="#">Conquista</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
      <li class="btn">
        <a href="#">Recompensa</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
      <li class="btn">
        <a href="#">Atividades</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
    </ul>
    <ul class="list-unstyled d-flex flex-column fw-bolder" id="visualize">
      <li class="btn">
        <a class="fw-bolder">Pré-visualar</a>
        <i class="bi bi-arrow-right-short fw-bolder"></i>
      </li>
      <li class="btn">
        <a href="#">Enviar</a>
        <i class="bi bi-arrow-right-short fw-bolder d-flex align-items-center"></i>
      </li>
    </ul>
  </div>
</div>

