/*sidebar*/
.sidebar {
  width: clamp(250px, 25vw, 389px);
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 0 clamp(20px, 5vw, 38px) 0 clamp(15px, 4vw, 33px);
  border-right: 2px solid #B5B8B5;
  background-color: var(--background-color);
}

/*sidebar items*/
.sidebar ul {
  margin-top: 40px;
  gap: 22px;
}

.sidebar ul li a {
  color: var(--primary-color);
}

/*selected item*/
.sidebar #add-event .selected {
  background: #FFF;
}

.sidebar ul .selected a, .selected .bi-arrow-right-short {
  color: #4A87E9;
}

/*add-event*/
.sidebar #add-event li {
  background: #4A87E9;
  color: var(--primary-color);
}

/*divider*/
.sidebar #add-event:after {
  content: '';
  width: 80%;
  height: 2px;
  margin: 43px auto 0;
  background: #B5B8B5;
}

/*visualizer*/
.sidebar #visualize li {
  background: var(--green);
  color: var(--primary-color);
}

/*responsive*/
@media (min-width: 1200px) {
  .sidebar {
    width: clamp(200px, 20vw, 300px);
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
