<section class="container">
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Evento</h1>
    </div>
  </div>
  <div class="row row-cols-2">
    <div class="col d-flex flex-column">
      <label for="Name" class="fw-bolder name-label info-spacing">Nome</label>
      <input class="event-input" name="Name" placeholder="Escreva aqui">
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-4 d-flex flex-column">
      <h3 class="fw-bolder info-spacing">Data início</h3>
      <input type="date" class="form-control d-flex justify-content-center text-spacing fw-bolder">
      <textarea class="form-control h-100" placeholder="Calendário..."></textarea>
    </div>
    <div class="col-md-4 d-flex flex-column">
      <h3 class="fw-bolder info-spacing">Data fim</h3>
      <input type="date" class="form-control d-flex justify-content-center text-spacing fw-bolder">
      <textarea class="form-control h-100" placeholder="Calendário..."></textarea>
    </div>
    <div class="col-md-4 d-flex flex-column">
      <h3 class="fw-bolder info-spacing">Número de edição</h3>
      <input type="number" placeholder="0"
             class="form-control d-flex justify-content-center text-spacing fw-bolder text-center">
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn d-flex align-items-center">
        <a class="change-color">Próximo</a>
        <i class="bi bi-arrow-right-short fw-bolder change-color d-flex align-items-center"></i>
      </button>
    </div>

  </div>
</section>
