<section>
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Atividades</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="w-100">
        <tr>
          <th class="black-bg">Tipo</th>
          <th class="black-bg">Qtd. de selos</th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
      </table>

    </div>
    <div class="col-md d-flex justify-content-end">
      <div class="d-flex flex-column">
        <h3 class="fw-bolder title-spacing text-center">Selo</h3>
        <button class="add-btn-ball">
          <img src="add_ball.svg" alt="" class="beautiful_ball">
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="add-btn">Adicionar atividade +</button>
    </div>
  </div>
</section>
