<section>
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Atividades</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="w-100">
        <tr>
          <th class="black-bg">Tipo</th>
          <th class="black-bg">Qtd. de selos</th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
        <tr>
          <th>
            <input type="text" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
          <th>
            <input type="number" class="w-100 border border-0 bg-none d-flex align-items-center">
          </th>
        </tr>
      </table>
    </div>
    <div class="col-md d-flex justify-content-end">
      <div class="d-flex flex-column">
        <h3 class="fw-bolder title-spacing text-center">Selo</h3>
        <button class="add-btn">
          <img src="bola_linda.svg" alt="" class="beautiful_ball">
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <div class="d-flex buttons">
        <button type="button" class="btn d-flex align-items-center">
          <a class="change-color">Adicionar</a>
          <i class="bi bi-plus fw-bolder change-color d-flex align-items-center"></i>
        </button>
        <button type="button" class="btn d-flex align-items-center">
          <a class="change-color">Próximo</a>
          <i class="bi bi-arrow-right-short fw-bolder change-color d-flex align-items-center"></i>
        </button>
      </div>
    </div>
  </div>
</section>
