<section>
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Selos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-column">
      <form class="d-flex add-stamp" >
        <div>
          <div>
            <input type="file" id="fileInput" class="d-none" (change)="onFileSelected($event)" accept="image/*" />
            <div class="stamp-background d-flex align-items-center justify-content-center">
              <img [src]="imageSrc || defaultImage" alt="Selected Image" class="file-input-image" (click)="triggerFileInput()" />
            </div>
          </div>
        </div>
        <button class="add-btn">
          <img src="bola_linda.svg" alt="" class="beautiful_ball">
        </button>
      </form>
    </div>
  </div>
</section>
