<section class="container">
  <div class="row">
    <div class="col">
      <h1 class="fw-bolder title">Selos</h1>
    </div>
  </div>
  <div class="row row-cols-2">
    <div class="col d-flex flex-column">
      <i class="bi bi-plus-circle-fill"></i>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn d-flex align-items-center">
        <a class="change-color">Próximo</a>
        <i class="bi bi-arrow-right-short fw-bolder change-color d-flex align-items-center"></i>
      </button>
    </div>
  </div>
</section>
