:root {
  --background-color: #F8FADA;
  --forms-background: #FFF;
  --text-primary-color: #0A1C16;
  --text-secondary-color: #00140A;
  --text-light-color: rgba(10, 28, 22, 0.50);;
  --green: #00FF86;
  --border-color: #0095FF;
}

* {
  list-style: none;
}

body {
  background: var(--background-color, #D8DED3);
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  height: 100vh;
}

section {
  height: 100vh;
}

.btn {
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  padding: 5px 15px;
  letter-spacing: clamp(1.5px, 0.2vw, 3px);
  font-size: clamp(1rem, 1.5vw, 1.0625rem);
  cursor: pointer;
  background: var(--green);
  transition: ease-in-out .3s;
}

.btn:hover {
  border: 2px solid var(--green);
}

.btn a{
  color: var(--text-secondary-color);
  text-decoration: none;
}

.title {
  font-size: 68px;
  letter-spacing: 11.68px;
  margin-top: 22px;
  font-weight: 600;
  margin-bottom: 40px;
  font-family: 'Cinzel';
}

.event-input {
  border-radius: 22px;
  border: 2px solid var(--border-color);
  background: #EAEBEA;
  padding: 5px 15px;
  font-size: 18px;
  margin-bottom: 50px;
}

.event-input::placeholder, .form-control::placeholder {
  color: var(--text-light-color);
  letter-spacing: 3.84px;
  font-weight: 700;
}

.buttons {
  margin-top: 66px;
  gap: 66px;
}

.add-btn {
  border: none;
  background: none;
}

.title-spacing {
  letter-spacing: 8.96px;
  font-size: 56px;
}
